@media screen and (max-width:1024px) {
    .menu {
        margin: 20px;
    }

    .line__up {
        margin: 0px 20px;
    }

    .contact {
        margin: 94px 20px 96px 20px;
    }

    .forms {
        margin: 0px 20px 109px 20px;
    }

    .line__down {
        margin: 0px 20px;
    }

    .menu__sec {
        padding: 24px 20px;
    }
}

@media screen and (max-width:768px) {

    .contact__title h1,
    .forms__title h1 {
        width: 350px;
        margin-right: 20px;
    }
}