.line__up {
    height: 94px;
    margin: 0px 165px;
    border: 1px solid #FAFAFA;
    border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}

.contact {
    display: flex;
    align-items: start;
    margin: 0px 165px 0px 165px;
}

.contact__title h1,
.forms__title h1 {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    width: 350px;
    margin-right: 125px;
}

.contact__title h1 {
    margin-top: 47px;
}

.article p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 54px;
    margin-top: 48px;
}

.contact__icons img {
    margin-right: 15px;
    margin-bottom: 48px;
}

.line__down {
    height: 47px;
    margin: 0px 165px;
    border: 1px solid #FAFAFA;
    border-top: 1px solid rgb(51, 50, 61, 0.15);
}

.forms {
    display: flex;
    align-items: flex-start;
    margin: 0px 165px 0px 165px;
}

.forms__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label__name,
.label__email,
.label__msg {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 8px;
}

.label__email,
.label__msg {
    margin-top: 24px;
}

.input__name input,
.input__email input,
.input__msg input {
    all: unset;
    background-color: rgb(51, 50, 61, .10);
    font-family: 'Ibarra Real Nova', sans-serif;
    text-align: start;
    color: #33323D;
    width: 100%;
}

.input__name input,
.input__email input {
    height: 48px;
}

.input__msg input {
    height: 96px;
    margin-bottom: 41px;
}

.input__name input:focus,
.input__email input:focus,
.input__msg input:focus {
    border: 2px solid #000000;
    box-sizing: border-box;
}

.forms__btn a {
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #203A4C;
    padding: 17px 64px;
}

.forms__btn a:hover {
    background-color: #5FB4A2;
}