@media screen and (max-width:1024px) {
    .menu {
        margin: 20px;
    }

    .hero {
        padding: 0px 20px 0px 20px;
    }

    .project {
        margin: 115px 20px 0px 20px;
    }

    .links {
        padding: 0px 20px;
    }

    .contact {
        margin: 150px 20px 0px 20px;
    }

    .contact__btn {
        margin-left: 350px;
    }

    .menu__sec {
        padding: 24px 20px;
    }
}

@media screen and (max-width:768px) {
    .project__title {
        width: 350px;
        margin-right: 20px;
    }

    .article {
        width: 300px;
    }

    .article img {
        width: 300px;
    }

    .contact__btn {
        margin-left: 200px;
    }
}