.manage,
.bookmark,
.insure,
.fylo {
    display: flex;
    align-items: center;
    margin: 80px 213px 0px 212px;
}

.manage__img img,
.bookmark__img img,
.insure__img img,
.fylo__img img {
    width: 540px;
    height: 500px;
}

.manage__article,
.insure__article {
    margin-left: 140px;
}

.bookmark__article,
.fylo__article {
    margin-right: 140px;
}

.manage__article,
.bookmark__article,
.insure__article,
.fylo__article {
    padding: 103px 0px;
    border: 1px solid #FAFAFA;
    border-top: 1px solid rgb(51, 50, 61, 0.15);
    border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}

.manage__article h1,
.bookmark__article h1,
.insure__article h1,
.fylo__article h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
}

.manage__article p,
.bookmark__article p,
.insure__article p,
.fylo__article p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 28px;
    margin-bottom: 54px;
}

.manage__btn a,
.bookmark__btn a,
.insure__btn a,
.fylo__btn a {
    all: unset;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #33323D;
    box-sizing: border-box;
    padding: 17px 28px;
}

.manage__btn a:hover,
.bookmark__btn a:hover,
.insure__btn a:hover,
.fylo__btn a:hover {
    color: #FFFFFF;
    background-color: #33323D;
    cursor: pointer;
    transition: 0.5s ease-out;
}