.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 94px;
    padding: 0px 164px 0px 165px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 115px 165px 0px 165px;
}

.project__title {
    width: 350px;
    margin-right: 125px;
    padding: 48px 0px;
}

.project__title h1 {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    margin-bottom: 29px;
}

.project__title p,
.project p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.project__title p {
    margin-bottom: 53px;
}

.project p {
    margin-bottom: 40px;
}

.project__title a {
    all: unset;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #33323D;
    box-sizing: border-box;
    padding: 17px 60px;
}

.project__title a:hover {
    color: #FFFFFF;
    background-color: #33323D;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.project__obj,
.project__lang {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #5FB4A2;
    margin-bottom: 16px;
}

.project__lang {
    margin-bottom: 48px;
}

.article {
    width: 635px;
}

.article h2 {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    margin-bottom: 28px;
}

.article img {
    width: 635px;
    margin-bottom: 32px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 0px 165px;
    margin-top: 32px;
}

.links__left,
.links__right {
    display: flex;
    align-items: center;
}

.links__before {
    text-align: start;
    margin-left: 32px;
}

.links__after {
    text-align: end;
    margin-right: 32px;
}

.links__before a,
.links__after a {
    text-decoration: none;
    color: #33323D;
}

.links__before h1,
.links__after h1 {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.285714px;
}

.links__before p,
.links__after p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.5;
}